@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #F55B64;
    --cor-secundaria: #C2373F;
    --neutro: #F9F9F9;
    --preto: #131730;
    --cor-background: #f7aab2;
    --cor-background-dois: #811a39;
    --fonte-titulo: "Krona One", sans-serif;
    --fonte-texto: 'Numans', sans-serif;
}

body {
    background-color: var(--degrade-azul);
}

.check-mark::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 6px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}